<div class="content">

    <div class="backlog sections">
        <h4>Backlog</h4>
        <div class="cards">
            <div class="card">
                <p>Card</p>
            </div>
        </div>
    </div>

    <div class="readytogo sections">
        <h4>Ready to go</h4>
    </div>

    <div class="development sections">
        <h4>Development</h4>
    </div>

    <div class="codereview sections">
        <h4>Code Review</h4>
    </div>

    <div class="testing sections">
        <h4>Testing</h4>
    </div>

    <div class="complete sections">
        <h4>Complete</h4>
    </div>

    <div class="accepted sections">
        <h4>Accepted</h4>
    </div>

</div>