

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head runat="server" ID="Head">
        <title></title>
        <style type="text/css">.details { }</style>
    </head>
    <body>

       
    </body>
</html>
